@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2p', monospace;
    font-size: 12px;
}

:root {
    --primary: #8c8b8b;
    --secondary: #ffffff;
    --form: #6f6f6f;
}

body {
    overflow: hidden;
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(45deg, #e7e1ba, #ffdc15);
}

.hero {
    background: linear-gradient(90deg, #ffdc15, #b861ce);
    width: 100vw;
}

.search-wrapper {
    margin-left: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.search-input {
    padding: 16px;
    border: 3px double #7c7c7c;
    box-shadow: 10px 20px 20px -10px var(--primary) inset;
    background: #ecf8f8;
    border-right: none;
}

.retro {
    padding: 35px 0px 35px 35px;
    margin: 0;
    line-height: 70px;
    background: linear-gradient(
        #0000ff 15%,
        #aaffff 35%,
        #ccffff 45%,
        #000011 55%,
        #000000 52%,
        #000044 60%,
        #000066 70%,
        #000099 80%,
        #0000ff 85%
    );
    font-family: 'Press Start 2p', monospace;
    font-size: 4.3rem;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #a8a8a8;
    animation: shadow 2s infinite;
}

@keyframes shadow {
    0% {filter: drop-shadow(10px 10px 10px #002aff)};
    50% {filter: drop-shadow(10px 10px 10px #000000)};
    100%{filter: drop-shadow(10px 10px 10px #002aff)};  
}

a {
    text-decoration: none;
    width: 170px;
    color: #db1600;;
    display: inline-block;
    font-size: 1.4rem;
    margin: 8px;
    padding: 8px 4px;
    transition-duration: 0.3s;
    border-radius: 20px;
}

a:hover {
    background: var(--secondary);
}

a:active {
    transform:scale(0.7)
}

i {
    width: 40px;
    margin-right: 4px;
    padding: 4px;
    font-size: 2rem;;
}

.loading {
    margin: 30px;
}

.logo-image {
    background-image: url("images/logo.png");
    background-size: cover;
    width: 120px;
    height: 93px;
    margin: 25px 0;
}

.logo-text {
    margin-bottom: 25px;
    padding: 12px;
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    color: var(--primary);
    text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
}

.main-container {
    overflow-y: auto;
    overflow-x: hidden;   
}

.div-movies {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.movie-table {
    border: 3px double var(--primary);
    box-shadow: 10px 20px 20px -10px var(--primary) inset;
    margin: 30px 0 0 30px;
    background: #ecf8f8;
}

.movie-table:last-child{
    margin-right: 30px;
}

.movie {
    padding: 8px 16px;
}

.movie-id {
    padding-top: 14px;
}

.modal-movie, .message {
    border: 3px double var(--primary);
    box-shadow: 10px 20px 20px -10px var(--primary) inset;
    background: #ecf8f8;
    padding: 20px;
    margin: auto;
}

p {
    padding: 10px;
}

.modal-movie::backdrop {
    background: linear-gradient(45deg, #0f0f5e, #bcbcbc);
    opacity: 0.5;
}

.btn {
	background: #7c7c7c;
	border-bottom: 6px inset #000000;
	border-left: 6px inset #000000;
	border-right: 6px inset #ffffff80;
	border-top: 6px inset #ffffff80;
	box-sizing: border-box;
	color: var(--secondary);
	cursor: pointer;
	font-size: 1.1rem;
	margin: 8px;
	min-width: 200px;
	padding: 10px;
	text-transform: uppercase;
	width: auto;
}

.btn:hover {
    background: #bcbcbc;
}

.btn-primary {
	background: #881400;
}

.btn-primary:hover, .btn-primary:focus { 
	background:#a81000;	
}

.btn-secondary, .btn-yes {
	background: #0000bc;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-yes:hover { 
	background: #0000fc;
}

.btn-submit {
	background: #005800;
}

.btn-submit:hover, .btn-submit:focus { 
	background: #006800;
}

.btn-search {
    padding: 3px;
    margin-left: 0;
    min-width: 1px;;
}
	
.movie-form {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

textarea {
    resize: none;
}

.form-input {
    padding: 15px;
    margin: 1px;
    border: 3px double var(--primary);
    box-shadow: 10px 20px 20px -10px var(--primary) inset;
    background: #ecf8f8;
    color: var(--form);
}

.form-input:focus, .search-input:focus {
    outline:none;
    border:1px solid var(--primary)
} 

.form-availability {
    color: var(--form);
    margin: 30px auto 0 15px;
}

.form-data {
    color: var(--form);
    margin: 30px auto 20px 15px;
}

input[type=radio] {
    transform: scale(2);
}

.label-form{
    font-size: 1.2rem;
    line-height: 25px;
}

#radio-true {
    accent-color: #006800;
}

#radio-false {
    accent-color: #a81000; 
}

#date {
    color: var(--form); 
}

/*mobile*/
@media only screen and (max-width: 720px) {
    nav {
        background-color: lightblue;
    }
    .icon-label{
        display: none;
    }
    .logo-image {
        width: 80px;
        height: 60px;
        margin-bottom: 25px;
    }
    .logo-text {
        display: none;
    }
    .retro {
        font-size: 3rem;
    }
    a {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        font-size: 30px;
    }
    .fa-plus {
        margin-left: 9px;
    }
    .fa-search{
        font-size: 2rem;
    }
    .div-movies{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .movie-table {
        width: 190px;
        margin: 10px 10px auto 10px;
    }
    .movie-table:last-child{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .search-input {
        width: 150px;
    }
}